@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #5e2a84; /* Purple */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff4dc4; /* Pink */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ff1ba6;
  }
  